In [1]:
import pandas as pd
import Utils
import Preprocess

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/apostolos/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

## Read Data - Preprocessing - Statistics Extraction

In [2]:
passage_collection_file = '../dataset/passage_collection_new.txt'
test_queries_file = '../dataset/test-queries.tsv'
candidate_passages_top1000_file = '../dataset/candidate_passages_top1000.tsv'

In [3]:
passage_collection = Utils.read_collection(passage_collection_file)

In [ ]:
print(len(passage_collection))
print(passage_collection[0])

In [ ]:
### preprocess the passage sentences
preprocessed_passages = Preprocess.process_data(passage_collection)

In [ ]:
print(preprocessed_passages[0])

In [ ]:
## find the frquency of each word on th passage collection
ordered_term_frequency_dictionary,total_words = Utils.derive_frequencies_from_collection(preprocessed_passages)
print("Unique words: " + str(len(ordered_term_frequency_dictionary)))
print("Total words: " + str(total_words))

In [ ]:
Utils.plot_word_frequencies(ordered_term_frequency_dictionary,total_words)

In [4]:
## read the data
test_queries_df = pd.read_csv(test_queries_file, sep='\t', lineterminator='\n')
candidate_passages_top1000_df = pd.read_csv(candidate_passages_top1000_file, sep='\t', lineterminator='\r')

/home/apostolos/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
## set column names
test_queries_df.columns = ['qid','query']
candidate_passages_top1000_df.columns = ['qid','pid','query','passage']

In [6]:
test_queries_df.head()

       qid                                              query
0  1112389          what is the county for grand rapids, mn\r
1   792752                                   what is ruclip\r
2  1119729  what do you do when you have a nosebleed from ...
3  1105095                where is sugar lake lodge located\r
4  1105103                 where is steph currys home in nc\r

In [7]:
candidate_passages_top1000_df.head()

,qid,pid,query,passage
0,1128373,7130104.0,iur definition,This is the definition of RNA along with examp...
1,131843,7130104.0,definition of a sigmet,This is the definition of RNA along with examp...
2,20455,7130335.0,ar glasses definition,Best Answer: The AR designation comes from the...
3,719381,7130335.0,what is ar balance,Best Answer: The AR designation comes from the...
4,20455,7130336.0,ar glasses definition,What does AR really mean? Posted by Quality AR...

In [8]:
## create dictionaries with the data_given
query_dict, test_queries_dict, passages_dict, query_passage_dict = Utils.get_dictionaries(candidate_passages_top1000_df,test_queries_df)

In [9]:
inverted_index, preprocessed_candidates_dict = Utils.inverted_index(1127622,passages_dict,query_passage_dict)

In [10]:
vectorised_representations, ids_list = Utils.TFIDF_vectorisation(1127622,inverted_index,preprocessed_candidates_dict)

In [13]:
print(vectorised_representations[1])
print(ids_list[1])

[12.267857142857142, 24.535714285714285, 9.814285714285715, 2.4535714285714287, 4.9071428571428575, 16.357142857142858, 9.814285714285715, 3.5051020408163263, 0.10159716060337178, 12.267857142857142, 5.452380952380952, 0.09020483193277311, 1.6357142857142855, 4.089285714285714]
8020892.0